.pages-team-index {
  background: #ffffff;

  .team-wrap {
    display: flex;

    .teams {
      flex: 1;

      .teams-title {
        color: #999999;
        font-size: 24px;
        text-align: center;
        height: 80px;
        line-height: 80px;
        background: #e8e8e8;
      }

      .teams-item {
        color: #999999;
        font-size: 24px;
        text-align: center;
        height: 80px;
        line-height: 80px;
      }
    }
  }
}
