.pages-schedule-index {
  background: #ffffff;

  .schedule-title {
    color: #999999;
    font-size: 24px;
    text-align: center;
    height: 80px;
    line-height: 80px;
  }

  .round-title {
    position: sticky;
    top: 40px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #cccccc;
    font-size: 24px;
    color: #333333;
  }

  .schedule-item {
    color: #333333;
    font-size: 28px;
    text-align: center;
    height: 80px;
    line-height: 80px;
  }
}
