.pages-player-index {
  background: #ffffff;

  .player-wrap {
    display: flex;

    .players {
      flex: 1;

      .players-title {
        color: #999999;
        font-size: 24px;
        text-align: center;
        height: 80px;
        line-height: 80px;
        background: #e8e8e8;
      }

      .players-item {
        color: #333333;
        font-size: 28px;
        text-align: center;
        height: 80px;
        line-height: 80px;
      }
    }
  }
}
