.pages-score-index {
  background: #ffffff;

  .score-title {
    color: #999999;
    font-size: 24px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    background: #e8e8e8;
  }

  .score-item {
    color: #333333;
    font-size: 28px;
    text-align: center;
    height: 80px;
    line-height: 80px;
  }
}
